body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #C6C1FF;
}


Logo{
  margin: 0;
  width: 30px;
  height: 30px;
 text-align: left; 
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 10px;

}

#heading {
  text-align: center; 

}

#welcome-statement {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* max-width: 600px;  */
  text-align: center; 
}

#footer-elements {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#nav-list {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#founder-picture {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#founder-picture img {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  
  
}

#founder {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

